<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot свойства -->
    <springProperty scope="context" name="service" source="spring.application.name" defaultValue="order-service"/>
    <springProperty scope="context" name="environment" source="ENVIRONMENT" defaultValue="development"/>

    <!-- ============================================= -->
    <!-- ПРОФИЛЬ ПО УМОЛЧАНИЮ (если не указан профиль) -->
    <!-- ============================================= -->
    <springProfile name="default">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [traceId=%X{traceId:-}, spanId=%X{spanId:-}] %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- ============================================= -->
    <!-- JSON ПРОФИЛЬ: для отправки в ELK              -->
    <!-- ============================================= -->
    <springProfile name="elk">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdc>true</includeMdc>
                <customFields>{
                    "service":"${service}",
                    "environment":"${environment}"
                    }</customFields>
                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <maxDepthPerThrowable>30</maxDepthPerThrowable>
                    <maxLength>2048</maxLength>
                </throwableConverter>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>

    <!-- Уровни логирования -->
    <logger name="oleborn.orderhub_project" level="DEBUG"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
</configuration>